[alias]
        st = status -uno
        sst = status -unormal
        tree = log --oneline --graph --decorate
        maybe = add -p
        bad = checkout -p
[user]
	name = Alexey Popravka
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[github]
	user = popravich
[core]
	excludesfile = /home/alexey/.gitignore_global
[push]
	default = upstream

[url "git@github.com"]
    insteadOf = github
